{% extends 'layout.html' %}

{% block body %}
	<style>
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
	<div class = 'jumbotron text-center'>
		<h1>Stock Forecasting</h1>
		<p class='lead'>
			This application will allow you to get filthy rich off of the stock market<br>
		</p>
		<small>after small payment of $9,999,999.99<br></small>
		<a href = 'https://www.paypal.me/bhuang97'><button class='btn btn-success' style='margin-top:20px'>Pay Now</button></a>
	</div>
	<div class = "text-center">
		<img src="static/giphy.gif" alt='catgif' class="center" style="padding-bottom: 20px">
		<p class = 'lead'>You will be able to transcend through dimensions, like this cat</p>
	</div>
{% endblock %}
